# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environment
.venv/

# Python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter
.ipynb_checkpoints/

# Editors
.vscode/
.idea/

# OS
.DS_Store

# OKPOP data
data/raw/
data/db/
data/output/

